@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  body > #__next {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  img {
    filter: blur(0) !important;
    border-radius: 1rem !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .overimage {
    border-radius: 0.8rem !important;
    background: radial-gradient(ellipse at center, transparent, black);
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  .overimage:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

